body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 1;
    padding: 1;
    background-color: #f4f9f4;
    color: #333;
}

header {
    background-color: #32b926;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
}

h1, h2 {
    color: #2e7d32;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #639967;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px;
}